#main {
  text-align: left;
  justify-items: auto;
}

.jobs {
  padding: 2rem 20rem 5rem 20rem;
}

@media only screen and (max-width: 800px) {

.jobs {
  padding: 3rem 19rem 3rem 19rem;
}
}

.jobs h3 {
  font-family: "AkzidenzGrotConBQ-Regular";
  color: #0692C1;
  margin-bottom: 3rem;
  font-size: 1.9rem;
  justify-self: center;
}

@media only screen and (max-width: 800px) {
.jobs h3 {
  margin-top: -0.9rem;
}
}

form {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  align-items: flex-end;
  margin-bottom: 3.125rem;
}

.job-list {
  border-top: solid 1px #0692C1;
}

.job {
  border-bottom: solid 1px #0692C1;
  padding: 1rem 0;
}

.job a {
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 1;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.2;
}

.job p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 200;
}
